/*---------------header---------------*/

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  min-height: 720px;
  max-height: 800px;

  height: 100vh;

  display: flex;
  flex-direction: column;


  position:relative;
}



.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;


  max-width: 729px;

  
  margin-top: 80px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 80px;
  



  /*display:inherit;*/
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;

  color: #2f80ed;

  display: inherit;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  max-width: 683px;


  margin-top: 28px;
  margin-left: 80px;
  margin-bottom: 0;

}

.header__image {
  width: 646px;
  height: 568px;

  position: absolute;

  right: 5px;
  top: 124px;


}

.header__footer
{
  display:flex;
  justify-content: space-between;
  align-items:center;


  
  margin-top:auto;
  margin-left: 40px;
  margin-right:80px;
  margin-bottom:40px;

}


.header__paragraph {
  margin: 0;
  color: #838383;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__hours {
  list-style: none;

  
  display: flex;
  flex-direction: column;

  /*
  margin-left: 80px;
  margin-bottom:40px;
  */
  

}

.header__address {

  display:flex;
  align-items:flex-end;


  /*
  margin-right:80px;
  margin-top: 40px;
  */
  

  /*
  margin-right: 80px;
  margin-bottom: 40px;
  */
}

